ConsoleApplication1/Service References/ServiceReference1/AccountManagement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ie3bltgs4zfy1.global.ds.honeywell.com/eCommerceServices/AccountManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eCommservices" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eCommservices" minOccurs="0" name="GetProductListResult" nillable="true" type="q1:ProductList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>